body {
    display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100hv;
	background-color: #E0FFFF;
}
.row {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #f0f5f0;
	border-radius: 5px;
}
.auth {
	font-family: arial;
	font-size: 30px;
	color: 	#9400D3;
	text-transform: uppercase;
	padding: 0 20px;
}
.row input {
	font-size: 18px;
	padding: 5px;
	margin: 5px 0;
	outline-color: 	#9400D3;
}
.btn-submit input {
	font-size: 25px;
	font-family: arial;
	font-weight: bold;
	color: #fff;
	background-color: #9400D3;
}
.instruction {
    font-size:70%;
    color:#aaaaaa;
    margin-left:2px;
    cursor:default;
}
